<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <link href="css/style.css" rel="stylesheet">
    <link href="css/angular-material.min.css" rel="stylesheet">
    
    <script src="js/angular.min.js"></script>
    <script src="js/angular-aria.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    
  </head>
  <body ng-app="ToDoMobile">
    
    
    <div ng-controller="todoController">
      <md-content>
        
        <md-toolbar>
          <h2 class="md-toolbar-tools">
            <span>ToDoMobile</span>
          </h2>
        </md-toolbar>
        
        <form name="frm" ng-submit="addTodo()">
          <md-input-container>
            <label>Todo</label>
            <input name="txt" id="text" ng-model="txt">
          </md-input-container>
            <section layout="row" layout-sm="column" layout-align="center center">
              <md-button type="submit" class="md-raised"  id="create" name="create" ng-disabled="frm.$invalid">Create</md-button>
              <md-button type="button" class="md-raised"  id="clear" name="clear" ng-click="clearCompleted()">Clear</md-button>
            </section>
        </form>
        
        <md-checkbox ng-model="select" ng-click="selectAll()" name="selectAll" id="selectAll" aria-label="Select All">
          Select All
        </md-checkbox>
        <md-list>
          <md-list-item ng-repeat="todo in todos track by $index">
            <div style="clear:both">
              <md-checkbox class="btn-chk" ng-model="todo.complete" ng-change="selectThis(todo)" aria-label="todo.title">
                <span ng-class="{'complete':todo.complete}">{{todo.title}}</span>
              </md-checkbox>
              <md-button class="md-icon-button btn-delete" ng-click="removeThis(todo)" aria-label="md-secondary">
                <md-icon md-svg-icon="css/ic_delete_24px.svg"></md-icon>
              </md-button>
            </div>
          </md-list-item>
        </md-list>

      </md-content>
    </div>
    
    
  </body>
</html>