.button{
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.complete{
  text-decoration: line-through;
}

.list-block{
  padding-bottom: 25px;
}

span{
  margin-left: 4px;
  max-width: 100px;
  word-break: normal;
  color: grey;
}