#create,#clear{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.complete{
  text-decoration: line-through;
}

.btn-chk{
  float: left;
  margin-left: 16px;
}

.btn-delete{
  float: right;
  margin-right: 2px;
}
