#text{
  display: block;
  margin: 0 auto;
}

.group{
  margin-top: 20px;
}

.box{
  margin-top: 20px;
  margin-left: 5px;
}

.complete{
  text-decoration: line-through;
}

span{
  margin-left: 4px;
  max-width: 100px;
  word-break: normal;
}

li button{
  display: block;
  margin: 0 auto;
}