body{
  background-color: #F5F5F5;
}

.box{
  max-width: 800px;
  height: 125px;
  margin: 0 auto;
}

#text{
  padding: 0;
  display: block;
  width: 75%;
  height: 30px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 1.4em;
}

.group{
  padding: 0;
  margin-left: 40%;
  margin-right: 35%;
}

#create,#clear{
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  padding-top: 2px;
  height: 25px;
  margin-top: 12px;
}

.menu{
  max-width: 800px;
  height: 25px;
  margin: 0 auto;
  align-self: center;
}

.menu label{
  margin-left: 10px;
}

.elements{
  margin-top: 20px;
  height: auto;
}

.list{
  list-style: none;
}

.del{
  text-decoration: none;
  cursor: pointer;
}

.hide{
  display: none;
}

.del:hover{
  text-decoration: none;
}

.complete{
  text-decoration: line-through;
}