button{
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#clear,#create{
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete{
  width: 55px;
}

.elements{
  margin-top: 20px;
  height: auto;
}

.list{
  list-style: none;
}

.del{
  text-decoration: none;
  cursor: pointer;
}

.hide{
  display: none;
}

.del:hover{
  text-decoration: none;
}

.complete{
  text-decoration: line-through;
}

span{
  margin-left: 10px;
  margin-right: 10px;
}